In [1]:
import pandas as pd

# 1. Read a .csv from a URL with Pandas
 Target website: https://www.football-data.co.uk/

In [2]:
df_premier24 = pd.read_csv('https://www.football-data.co.uk/mmz4281/2425/E0.csv')

In [3]:
df_premier24

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,16/08/2024,20:00,Man United,Fulham,1,0,H,0,0,...,1.86,2.07,1.83,2.11,1.88,2.11,1.82,2.05,1.90,2.08
1,E0,17/08/2024,12:30,Ipswich,Liverpool,0,2,A,0,0,...,2.05,1.88,2.04,1.90,2.20,2.00,1.99,1.88,2.04,1.93
2,E0,17/08/2024,15:00,Arsenal,Wolves,2,0,H,1,0,...,2.02,1.91,2.00,1.90,2.05,1.93,1.99,1.87,2.02,1.96
3,E0,17/08/2024,15:00,Everton,Brighton,0,3,A,0,1,...,1.87,2.06,1.86,2.07,1.92,2.10,1.83,2.04,1.88,2.11
4,E0,17/08/2024,15:00,Newcastle,Southampton,1,0,H,1,0,...,1.87,2.06,1.88,2.06,1.89,2.10,1.82,2.05,1.89,2.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,25/05/2025,16:00,Newcastle,Everton,0,1,A,0,0,...,2.00,1.85,2.01,1.90,2.01,1.95,1.95,1.91,1.93,2.05
376,E0,25/05/2025,16:00,Nott'm Forest,Chelsea,0,1,A,0,0,...,1.80,2.05,1.86,2.08,1.86,2.08,1.81,2.05,1.86,2.14
377,E0,25/05/2025,16:00,Southampton,Arsenal,1,2,A,0,1,...,2.03,1.83,2.04,1.87,2.07,1.87,2.03,1.83,2.06,1.89
378,E0,25/05/2025,16:00,Tottenham,Brighton,1,4,A,1,0,...,1.95,1.90,2.00,1.93,2.01,1.93,1.95,1.89,2.06,1.93
379,E0,25/05/2025,16:00,Wolves,Brentford,1,1,D,0,1,...,1.85,2.00,1.90,2.03,1.90,2.05,1.85,1.97,1.89,2.10

In [4]:
df_premier24.rename(columns={'FTHG':'home_goals',
                            'FTAG':'away_goals'}, inplace=True)

# 2. Read .csv from Multiple URLs with Pandas

In [5]:
 root = 'https://www.football-data.co.uk/mmz4281/'

In [6]:
leagues = ['E0','E2','E3']
frames = []

for league in leagues:
    df = pd.read_csv( root + '2425' + '/' + league + '.csv')
    frames.append(df)

In [7]:
len(frames)

3

In [8]:
frames[2]

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E3,09/08/2024,20:00,Chesterfield,Swindon,1,1,D,1,0,...,1.83,2.03,1.86,2.03,1.89,2.05,1.83,1.97,1.91,2.06
1,E3,10/08/2024,15:00,AFC Wimbledon,Colchester,4,2,H,3,2,...,1.75,2.05,1.83,2.07,1.83,2.17,1.76,2.05,1.86,2.12
2,E3,10/08/2024,15:00,Barrow,Crewe,1,0,H,1,0,...,1.88,1.98,1.87,2.02,1.90,2.04,1.84,1.95,1.88,2.09
3,E3,10/08/2024,15:00,Cheltenham,Newport County,3,2,H,2,2,...,1.93,1.93,1.96,1.93,1.98,1.96,1.91,1.88,2.05,1.92
4,E3,10/08/2024,15:00,Doncaster,Accrington,4,1,H,1,0,...,1.93,1.93,1.95,1.93,1.95,1.98,1.89,1.89,1.98,2.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,E3,03/05/2025,15:00,Morecambe,Harrogate,1,2,A,1,2,...,1.78,2.10,1.74,2.12,1.78,2.18,1.73,2.09,1.81,2.22
548,E3,03/05/2025,15:00,Newport County,Tranmere,1,4,A,1,1,...,1.78,2.03,1.84,2.00,1.84,2.03,1.81,1.98,1.84,2.13
549,E3,03/05/2025,15:00,Notts County,Doncaster,1,2,A,0,2,...,1.80,2.05,1.79,2.06,1.81,2.12,1.76,2.05,1.85,2.15
550,E3,03/05/2025,15:00,Port Vale,Gillingham,0,1,A,0,0,...,2.03,1.83,2.04,1.81,2.05,1.83,2.00,1.80,2.09,1.86
551,E3,03/05/2025,15:00,Swindon,Milton Keynes Dons,0,0,D,0,0,...,2.03,1.83,1.99,1.85,2.04,1.86,1.98,1.83,2.11,1.86

In [9]:
leagues = ['E0','E2','E3']
frames = []

for league in leagues:
    for season in range(15, 24):
        df = pd.read_csv( root + str(season)+str(season+1) + '/' + league + '.csv')
        df.insert(1, 'season', season)
        frames.append(df)

In [10]:
frames[0]

,Div,season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,E0,15,08/08/2015,Bournemouth,Aston Villa,0,1,A,0,0,...,1.79,26,-0.50,1.98,1.93,1.99,1.92,1.82,3.88,4.70
1,E0,15,08/08/2015,Chelsea,Swansea,2,2,D,2,1,...,1.99,27,-1.50,2.24,2.16,1.80,1.73,1.37,5.04,10.88
2,E0,15,08/08/2015,Everton,Watford,2,2,D,0,1,...,1.96,26,-1.00,2.28,2.18,1.76,1.71,1.75,3.76,5.44
3,E0,15,08/08/2015,Leicester,Sunderland,4,2,H,3,0,...,1.67,26,-0.50,2.00,1.95,1.96,1.90,1.79,3.74,5.10
4,E0,15,08/08/2015,Man United,Tottenham,1,0,H,1,0,...,2.01,26,-1.00,2.20,2.09,1.82,1.78,1.64,4.07,6.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,15,15/05/2016,Stoke,West Ham,2,1,H,0,1,...,2.27,30,0.25,2.11,2.03,1.87,1.83,3.05,4.00,2.26
376,E0,15,15/05/2016,Swansea,Man City,1,1,D,1,1,...,2.45,31,1.00,2.14,2.05,1.85,1.81,7.05,5.00,1.47
377,E0,15,15/05/2016,Watford,Sunderland,2,2,D,0,1,...,2.10,29,-0.50,2.06,2.01,1.91,1.85,1.64,4.52,5.27
378,E0,15,15/05/2016,West Brom,Liverpool,1,1,D,1,1,...,2.09,30,-0.25,2.10,2.05,1.86,1.81,2.61,3.75,2.70
379,E0,15,17/05/2016,Man United,Bournemouth,3,1,H,1,0,...,2.20,29,-0.75,1.88,1.84,2.08,2.02,1.50,4.60,7.03

In [18]:
len(frames)

27

In [12]:
frames[0]

,Div,season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,E0,15,08/08/2015,Bournemouth,Aston Villa,0,1,A,0,0,...,1.79,26,-0.50,1.98,1.93,1.99,1.92,1.82,3.88,4.70
1,E0,15,08/08/2015,Chelsea,Swansea,2,2,D,2,1,...,1.99,27,-1.50,2.24,2.16,1.80,1.73,1.37,5.04,10.88
2,E0,15,08/08/2015,Everton,Watford,2,2,D,0,1,...,1.96,26,-1.00,2.28,2.18,1.76,1.71,1.75,3.76,5.44
3,E0,15,08/08/2015,Leicester,Sunderland,4,2,H,3,0,...,1.67,26,-0.50,2.00,1.95,1.96,1.90,1.79,3.74,5.10
4,E0,15,08/08/2015,Man United,Tottenham,1,0,H,1,0,...,2.01,26,-1.00,2.20,2.09,1.82,1.78,1.64,4.07,6.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,15,15/05/2016,Stoke,West Ham,2,1,H,0,1,...,2.27,30,0.25,2.11,2.03,1.87,1.83,3.05,4.00,2.26
376,E0,15,15/05/2016,Swansea,Man City,1,1,D,1,1,...,2.45,31,1.00,2.14,2.05,1.85,1.81,7.05,5.00,1.47
377,E0,15,15/05/2016,Watford,Sunderland,2,2,D,0,1,...,2.10,29,-0.50,2.06,2.01,1.91,1.85,1.64,4.52,5.27
378,E0,15,15/05/2016,West Brom,Liverpool,1,1,D,1,1,...,2.09,30,-0.25,2.10,2.05,1.86,1.81,2.61,3.75,2.70
379,E0,15,17/05/2016,Man United,Bournemouth,3,1,H,1,0,...,2.20,29,-0.75,1.88,1.84,2.08,2.02,1.50,4.60,7.03

In [16]:
for season in range(15, 27):
    print(str(season))

15
16
17
18
19
20
21
22
23
24
25
26

# Organize All the Data in a Dictionary

In [19]:
dict_countries = {'Spanish':'SP1','Spanish Segunda Division':'SP2','English Premier League':'E0','German':'D1','English League':'E2'}

In [20]:
dict_countries

{'Spanish': 'SP1',
 'Spanish Segunda Division': 'SP2',
 'English Premier League': 'E0',
 'German': 'D1',
 'English League': 'E2'}

In [23]:
dict_countries['English Premier League']

'E0'

In [26]:
for leagues in dict_countries:
    print(dict_countries[leagues])

SP1
SP2
E0
D1
E2

In [35]:
dict_historical_data = {}
for league in dict_countries:
    frames = []
    for season in range(15, 24):
        df = pd.read_csv( root + str(season)+str(season+1) + '/' + dict_countries[leagues] + '.csv')
        df.insert(1, 'season', season)
        frames.append(df)
    df_concat =  pd.concat(frames)
    dict_historical_data[league] = df_concat

In [36]:
dict_historical_data

{'Spanish':     Div  season        Date      HomeTeam       AwayTeam  FTHG  FTAG FTR  \
 0    E2      15    08/08/15        Burton     Scunthorpe   2.0   1.0   H
 1    E2      15    08/08/15  Chesterfield       Barnsley   3.0   1.0   H
 2    E2      15    08/08/15    Colchester      Blackpool   2.0   2.0   D
 3    E2      15    08/08/15      Coventry          Wigan   2.0   0.0   H
 4    E2      15    08/08/15         Crewe      Port Vale   0.0   0.0   D
 ..   ..     ...         ...           ...            ...   ...   ...  ..
 547  E2      23  27/04/2024       Reading      Blackpool   3.0   2.0   H
 548  E2      23  27/04/2024    Shrewsbury  Leyton Orient   1.0   3.0   A
 549  E2      23  27/04/2024     Stevenage     Cheltenham   2.0   1.0   H
 550  E2      23  27/04/2024         Wigan    Bristol Rvs   2.0   0.0   H
 551  E2      23  27/04/2024       Wycombe       Charlton   1.0   0.0   H

      HTHG  HTAG  ... AvgC<2.5  AHCh  B365CAHH  B365CAHA  PCAHH  PCAHA  \
 0     0.0   0.0  ...      NaN   NaN       NaN       NaN    NaN    NaN
 1     0.0   1.0  ...      NaN   NaN       NaN       NaN    NaN    NaN
 2     1.0   2.0  ...      NaN   NaN       NaN       NaN    NaN    NaN
 3     1.0   0.0  ...      NaN   NaN       NaN       NaN    NaN    NaN
 4     0.0   0.0  ...      NaN   NaN       NaN       NaN    NaN    NaN
 ..    ...   ...  ...      ...   ...       ...       ...    ...    ...
 547   1.0   1.0  ...     2.25  0.50      1.90      1.95   1.90   1.99
 548   0.0   2.0  ...     1.74 -0.25      2.00      1.85   2.04   1.86
 549   1.0   0.0  ...     1.77  0.00      1.85      2.00   1.86   2.03
 550   1.0   0.0  ...     2.03 -0.25      1.83      2.03   1.83   2.07
 551   1.0   0.0  ...     2.11 -0.25      2.03      1.83   2.03   1.86

      MaxCAHH  MaxCAHA  AvgCAHH  AvgCAHA
 0        NaN      NaN      NaN      NaN
 1        NaN      NaN      NaN      NaN
 2        NaN      NaN      NaN      NaN
 3        NaN      NaN      NaN      NaN
 4        NaN      NaN      NaN      NaN
 ..       ...      ...      ...      ...
 547     1.91     2.10     1.83     1.96
 548     2.25     1.86     2.06     1.76
 549     1.89     2.09     1.85     1.97
 550     1.85     2.07     1.80     2.01
 551     2.11     1.90     2.01     1.80

 [4817 rows x 128 columns],
 'Spanish Segunda Division':     Div  season        Date      HomeTeam       AwayTeam  FTHG  FTAG FTR  \
 0    E2      15    08/08/15        Burton     Scunthorpe   2.0   1.0   H
 1    E2      15    08/08/15  Chesterfield       Barnsley   3.0   1.0   H
 2    E2      15    08/08/15    Colchester      Blackpool   2.0   2.0   D
 3    E2      15    08/08/15      Coventry          Wigan   2.0   0.0   H
 4    E2      15    08/08/15         Crewe      Port Vale   0.0   0.0   D
 ..   ..     ...         ...           ...            ...   ...   ...  ..
 547  E2      23  27/04/2024       Reading      Blackpool   3.0   2.0   H
 548  E2      23  27/04/2024    Shrewsbury  Leyton Orient   1.0   3.0   A
 549  E2      23  27/04/2024     Stevenage     Cheltenham   2.0   1.0   H
 550  E2      23  27/04/2024         Wigan    Bristol Rvs   2.0   0.0   H
 551  E2      23  27/04/2024       Wycombe       Charlton   1.0   0.0   H

      HTHG  HTAG  ... AvgC<2.5  AHCh  B365CAHH  B365CAHA  PCAHH  PCAHA  \
 0     0.0   0.0  ...      NaN   NaN       NaN       NaN    NaN    NaN
 1     0.0   1.0  ...      NaN   NaN       NaN       NaN    NaN    NaN
 2     1.0   2.0  ...      NaN   NaN       NaN       NaN    NaN    NaN
 3     1.0   0.0  ...      NaN   NaN       NaN       NaN    NaN    NaN
 4     0.0   0.0  ...      NaN   NaN       NaN       NaN    NaN    NaN
 ..    ...   ...  ...      ...   ...       ...       ...    ...    ...
 547   1.0   1.0  ...     2.25  0.50      1.90      1.95   1.90   1.99
 548   0.0   2.0  ...     1.74 -0.25      2.00      1.85   2.04   1.86
 549   1.0   0.0  ...     1.77  0.00      1.85      2.00   1.86   2.03
 550   1.0   0.0  ...     2.03 -0.25      1.83      2.03   1.83   2.07
 551   1.0   0.0  ...     2.11 -0.25      2.03      1.83   2.03   1.86

      MaxCAHH  MaxCAHA  AvgCAHH  AvgCAHA
 0        NaN      NaN      NaN      NaN
 1        NaN      NaN      NaN      NaN
 2        NaN      NaN      NaN      NaN
 3        NaN      NaN      NaN      NaN
 4        NaN      NaN      NaN      NaN
 ..       ...      ...      ...      ...
 547     1.91     2.10     1.83     1.96
 548     2.25     1.86     2.06     1.76
 549     1.89     2.09     1.85     1.97
 550     1.85     2.07     1.80     2.01
 551     2.11     1.90     2.01     1.80

 [4817 rows x 128 columns],
 'English Premier League':     Div  season        Date      HomeTeam       AwayTeam  FTHG  FTAG FTR  \
 0    E2      15    08/08/15        Burton     Scunthorpe   2.0   1.0   H
 1    E2      15    08/08/15  Chesterfield       Barnsley   3.0   1.0   H
 2    E2      15    08/08/15    Colchester      Blackpool   2.0   2.0   D
 3    E2      15    08/08/15      Coventry          Wigan   2.0   0.0   H
 4    E2      15    08/08/15         Crewe      Port Vale   0.0   0.0   D
 ..   ..     ...         ...           ...            ...   ...   ...  ..
 547  E2      23  27/04/2024       Reading      Blackpool   3.0   2.0   H
 548  E2      23  27/04/2024    Shrewsbury  Leyton Orient   1.0   3.0   A
 549  E2      23  27/04/2024     Stevenage     Cheltenham   2.0   1.0   H
 550  E2      23  27/04/2024         Wigan    Bristol Rvs   2.0   0.0   H
 551  E2      23  27/04/2024       Wycombe       Charlton   1.0   0.0   H

      HTHG  HTAG  ... AvgC<2.5  AHCh  B365CAHH  B365CAHA  PCAHH  PCAHA  \
 0     0.0   0.0  ...      NaN   NaN       NaN       NaN    NaN    NaN
 1     0.0   1.0  ...      NaN   NaN       NaN       NaN    NaN    NaN
 2     1.0   2.0  ...      NaN   NaN       NaN       NaN    NaN    NaN
 3     1.0   0.0  ...      NaN   NaN       NaN       NaN    NaN    NaN
 4     0.0   0.0  ...      NaN   NaN       NaN       NaN    NaN    NaN
 ..    ...   ...  ...      ...   ...       ...       ...    ...    ...
 547   1.0   1.0  ...     2.25  0.50      1.90      1.95   1.90   1.99
 548   0.0   2.0  ...     1.74 -0.25      2.00      1.85   2.04   1.86
 549   1.0   0.0  ...     1.77  0.00      1.85      2.00   1.86   2.03
 550   1.0   0.0  ...     2.03 -0.25      1.83      2.03   1.83   2.07
 551   1.0   0.0  ...     2.11 -0.25      2.03      1.83   2.03   1.86

      MaxCAHH  MaxCAHA  AvgCAHH  AvgCAHA
 0        NaN      NaN      NaN      NaN
 1        NaN      NaN      NaN      NaN
 2        NaN      NaN      NaN      NaN
 3        NaN      NaN      NaN      NaN
 4        NaN      NaN      NaN      NaN
 ..       ...      ...      ...      ...
 547     1.91     2.10     1.83     1.96
 548     2.25     1.86     2.06     1.76
 549     1.89     2.09     1.85     1.97
 550     1.85     2.07     1.80     2.01
 551     2.11     1.90     2.01     1.80

 [4817 rows x 128 columns],
 'German':     Div  season        Date      HomeTeam       AwayTeam  FTHG  FTAG FTR  \
 0    E2      15    08/08/15        Burton     Scunthorpe   2.0   1.0   H
 1    E2      15    08/08/15  Chesterfield       Barnsley   3.0   1.0   H
 2    E2      15    08/08/15    Colchester      Blackpool   2.0   2.0   D
 3    E2      15    08/08/15      Coventry          Wigan   2.0   0.0   H
 4    E2      15    08/08/15         Crewe      Port Vale   0.0   0.0   D
 ..   ..     ...         ...           ...            ...   ...   ...  ..
 547  E2      23  27/04/2024       Reading      Blackpool   3.0   2.0   H
 548  E2      23  27/04/2024    Shrewsbury  Leyton Orient   1.0   3.0   A
 549  E2      23  27/04/2024     Stevenage     Cheltenham   2.0   1.0   H
 550  E2      23  27/04/2024         Wigan    Bristol Rvs   2.0   0.0   H
 551  E2      23  27/04/2024       Wycombe       Charlton   1.0   0.0   H

      HTHG  HTAG  ... AvgC<2.5  AHCh  B365CAHH  B365CAHA  PCAHH  PCAHA  \
 0     0.0   0.0  ...      NaN   NaN       NaN       NaN    NaN    NaN
 1     0.0   1.0  ...      NaN   NaN       NaN       NaN    NaN    NaN
 2     1.0   2.0  ...      NaN   NaN       NaN       NaN    NaN    NaN
 3     1.0   0.0  ...      NaN   NaN       NaN       NaN    NaN    NaN
 4     0.0   0.0  ...      NaN   NaN       NaN       NaN    NaN    NaN
 ..    ...   ...  ...      ...   ...       ...       ...    ...    ...
 547   1.0   1.0  ...     2.25  0.50      1.90      1.95   1.90   1.99
 548   0.0   2.0  ...     1.74 -0.25      2.00      1.85   2.04   1.86
 549   1.0   0.0  ...     1.77  0.00      1.85      2.00   1.86   2.03
 550   1.0   0.0  ...     2.03 -0.25      1.83      2.03   1.83   2.07
 551   1.0   0.0  ...     2.11 -0.25      2.03      1.83   2.03   1.86

      MaxCAHH  MaxCAHA  AvgCAHH  AvgCAHA
 0        NaN      NaN      NaN      NaN
 1        NaN      NaN      NaN      NaN
 2        NaN      NaN      NaN      NaN
 3        NaN      NaN      NaN      NaN
 4        NaN      NaN      NaN      NaN
 ..       ...      ...      ...      ...
 547     1.91     2.10     1.83     1.96
 548     2.25     1.86     2.06     1.76
 549     1.89     2.09     1.85     1.97
 550     1.85     2.07     1.80     2.01
 551     2.11     1.90     2.01     1.80

 [4817 rows x 128 columns],
 'English League':     Div  season        Date      HomeTeam       AwayTeam  FTHG  FTAG FTR  \
 0    E2      15    08/08/15        Burton     Scunthorpe   2.0   1.0   H
 1    E2      15    08/08/15  Chesterfield       Barnsley   3.0   1.0   H
 2    E2      15    08/08/15    Colchester      Blackpool   2.0   2.0   D
 3    E2      15    08/08/15      Coventry          Wigan   2.0   0.0   H
 4    E2      15    08/08/15         Crewe      Port Vale   0.0   0.0   D
 ..   ..     ...         ...           ...            ...   ...   ...  ..
 547  E2      23  27/04/2024       Reading      Blackpool   3.0   2.0   H
 548  E2      23  27/04/2024    Shrewsbury  Leyton Orient   1.0   3.0   A
 549  E2      23  27/04/2024     Stevenage     Cheltenham   2.0   1.0   H
 550  E2      23  27/04/2024         Wigan    Bristol Rvs   2.0   0.0   H
 551  E2      23  27/04/2024       Wycombe       Charlton   1.0   0.0   H

      HTHG  HTAG  ... AvgC<2.5  AHCh  B365CAHH  B365CAHA  PCAHH  PCAHA  \
 0     0.0   0.0  ...      NaN   NaN       NaN       NaN    NaN    NaN
 1     0.0   1.0  ...      NaN   NaN       NaN       NaN    NaN    NaN
 2     1.0   2.0  ...      NaN   NaN       NaN       NaN    NaN    NaN
 3     1.0   0.0  ...      NaN   NaN       NaN       NaN    NaN    NaN
 4     0.0   0.0  ...      NaN   NaN       NaN       NaN    NaN    NaN
 ..    ...   ...  ...      ...   ...       ...       ...    ...    ...
 547   1.0   1.0  ...     2.25  0.50      1.90      1.95   1.90   1.99
 548   0.0   2.0  ...     1.74 -0.25      2.00      1.85   2.04   1.86
 549   1.0   0.0  ...     1.77  0.00      1.85      2.00   1.86   2.03
 550   1.0   0.0  ...     2.03 -0.25      1.83      2.03   1.83   2.07
 551   1.0   0.0  ...     2.11 -0.25      2.03      1.83   2.03   1.86

      MaxCAHH  MaxCAHA  AvgCAHH  AvgCAHA
 0        NaN      NaN      NaN      NaN
 1        NaN      NaN      NaN      NaN
 2        NaN      NaN      NaN      NaN
 3        NaN      NaN      NaN      NaN
 4        NaN      NaN      NaN      NaN
 ..       ...      ...      ...      ...
 547     1.91     2.10     1.83     1.96
 548     2.25     1.86     2.06     1.76
 549     1.89     2.09     1.85     1.97
 550     1.85     2.07     1.80     2.01
 551     2.11     1.90     2.01     1.80

 [4817 rows x 128 columns]}

In [37]:
dict_historical_data.keys()

dict_keys(['Spanish', 'Spanish Segunda Division', 'English Premier League', 'German', 'English League'])

In [38]:
dict_historical_data['Spanish Segunda Division']

,Div,season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E2,15,08/08/15,Burton,Scunthorpe,2.0,1.0,H,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E2,15,08/08/15,Chesterfield,Barnsley,3.0,1.0,H,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E2,15,08/08/15,Colchester,Blackpool,2.0,2.0,D,1.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E2,15,08/08/15,Coventry,Wigan,2.0,0.0,H,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E2,15,08/08/15,Crewe,Port Vale,0.0,0.0,D,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,E2,23,27/04/2024,Reading,Blackpool,3.0,2.0,H,1.0,1.0,...,2.25,0.50,1.90,1.95,1.90,1.99,1.91,2.10,1.83,1.96
548,E2,23,27/04/2024,Shrewsbury,Leyton Orient,1.0,3.0,A,0.0,2.0,...,1.74,-0.25,2.00,1.85,2.04,1.86,2.25,1.86,2.06,1.76
549,E2,23,27/04/2024,Stevenage,Cheltenham,2.0,1.0,H,1.0,0.0,...,1.77,0.00,1.85,2.00,1.86,2.03,1.89,2.09,1.85,1.97
550,E2,23,27/04/2024,Wigan,Bristol Rvs,2.0,0.0,H,1.0,0.0,...,2.03,-0.25,1.83,2.03,1.83,2.07,1.85,2.07,1.80,2.01
551,E2,23,27/04/2024,Wycombe,Charlton,1.0,0.0,H,1.0,0.0,...,2.11,-0.25,2.03,1.83,2.03,1.86,2.11,1.90,2.01,1.80